apiVersion: v1
kind: ConfigMap
metadata:
    name: nginx-config
data:
    # | is important too allow multi line strings
    nginx.conf: |
        worker_processes auto; 

        events {
            worker_connections 1024;
        }

        http {
            include       mime.types;
            default_type  application/octet-stream;
            sendfile      on;

            upstream backend {
                server backend:5000;
            }

            server {
                listen 80;
                server_name localhost;

            location / {
                proxy_pass http://studentportfolio;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
            }


            # Handle all backend routes
            location ~ ^/(api|deposit|withdraw|logi|register|dashboard|logout) {
                proxy_pass http://backend;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
            }

        }
        }


       