apiVersion: apps/v1
kind: Deployment
metadata:
  name: studentportfolio
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: studentportfolio
  template:
    metadata:
      labels:
        app: studentportfolio
    spec:
      containers:
        - name: studentportfolio
          image: studentportfolio:latest
          ports:
            - name: http
              containerPort: 80
          

          resources:
              requests:
                cpu: "50m"
                memory: "64Mi"
              limits:
                cpu: "200m"
                memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
      restartPolicy: Always
